---
import Nav from '../components/Navbar.astro';
import Social from '../components/Social.astro';
import Introduccion from '../components/Introduccion.astro';
import Description from '../components/Description.astro';
import Descubre from '../components/Descubre.astro';
import Impulsa from '../components/Impulsa.astro';
import Crece from '../components/Crece.astro';
import Formulario from '../components/Formulario.astro';
import Contacto from '../components/Contacto.astro';
import '../styles/colores.css';
import '../styles/mainStyle.css';
import '../styles/introduccionStyle.css';
import '../styles/heroStyle.css';
import '../styles/descubreStyle.css';
import '../styles/impulsaStyle.css';
import '../styles/creceStyle.css';
import '../styles/formularioStyle.css';
import '../styles/contactoStyle.css';
---

<html lang="es">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Barrio Hub - Tu espacio en Chamartín</title>
	</head>
	<body>
		<Social/>
		<Nav/>
		<main>
			<section class="introduccion">
				<Introduccion/>
			</section>
			<section class="hero">
				<Description/>
			</section>
			<section class="descubre">
				<Descubre/>
			</section>
			<section class="impulsa">
				<Impulsa/>
			</section>
			<section class="crece">
				<Crece/>
			</section>
			<section class="formulario">
				<Formulario/>
			</section>
			<section class="contacto">
				<Contacto/>
			</section>
		</main>
	</body>
</html>
