<div class="contacto-container">
  <h2 class="contacto-title">Contacto</h2>
  <div class="contacto-info">
    <p class="contacto-address">Calle Matilde Díez, 11</p>
    <p class="contacto-email">hola@barriohub.es</p>
    <p class="contacto-phone">614.92.28.93</p>
  </div>
</div>
