<article class="descubre">
  <div class="descubre-container">
    <h2 class="descubre-main-title">BarrioHub</h2>
    <p class="descubre-intro">
      En Barrio Hub creemos en los espacios que inspiran, donde la creatividad y la colaboración 
      son el motor del crecimiento.
    </p>
    
    <div class="descubre-values">
      <div class="descubre-value">
        <h4>Objetivo</h4>
        <p>Cada persona que entre en Barrio Hub se sienta parte de
algo más grande.</p>
      </div>
      
      <div class="descubre-value">
        <h4>Visión</h4>
        <p>Convertirse en el espacio dereferencia donde las personas conectan,colaboran y contruyen comunidad.</p>
      </div>
      
      <div class="descubre-value">
        <h4>Misión</h4>
        <p>Crear un entorno inclusivo y dinámico que fomente la conexión entre personas y cada miembro se sienta parte de una comunidad real</p>
      </div>
    </div>
  </div>
</article>
